.body{
	max-width:640px;
	margin:auto;
	min-height:100%;
	background-color:#e1e0de;
	position:relative;
}

.list_ul a{
	color:#666;
	display:block;
	background:#fff;
	color:#666;

}
.list_ul figcaption p{
	font-size:12px;
	color:#aaa;
}
.list_ul figure div{
	display:inline-block;
}
.list_ul li{
	display:inline-block;
	width:20%;
	float:left;
	text-align:center;
	-webkit-box-sizing:border-box;
}
.bottomNav{
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #fff;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.nav{
	line-height: 20px;
	font-size: 12px !important;
}
.nav div{
	height: 30px;
	line-height: 30px;
}
.nav div img{
	vertical-align: middle;
}